/*文字コードの設定*/
@charset "utf-8";

/*test*/

/* -------------------- html -------------------- */
html {
    /*背景色設定*/
    background-size: 150vh;
}
html * {
    box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('font/IcoMoon-Free.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";